@import 'variables';
@import 'reset';
.links,
h1,
h2 {
  text-align: center;
}
body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #333;
}

h1 {
  font-weight: 700;
  font-size: 2.5em;
}
h2 {
  font-weight: 400;
  padding-top: 10px;
}
a {
  text-decoration: none;
  color: #08d;
}
a:hover {
  text-decoration: underline;
}
.container {
  width: 500px;
  margin: 120px auto 0;
}
@media (max-width: 700px) {
  .container {
    width: auto;
    max-width: 500px;
    margin: 60px auto 0;
  }
}
.links {
  margin-top: 40px;
}
.links a {
  display: inline-block;
  margin: 0 10px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  @media (max-width: 499px) {
    gap: 30px;
    max-width: 80%;
  }
  margin: 2em auto 0 auto;

  .card {
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 160px;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #333;
    box-shadow: 10px 10px 31px -14px rgba(0,0,0,0.75);
    font-style: italic;
    &:hover, &:focus {
      outline: none;
      border-color: #aaa;
      box-shadow: 10px 10px 31px -14px rgba(0,0,0,1);
      text-decoration: none;
    }
    &:active {
      box-shadow: none;

    }
    .logo {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      img {
        display: block;
        width: 80px;
      }
    }
    .title {
      text-align: center;
      margin-bottom: .5em;
    }
  }
}