@import '../variables';
header {
  display: flex;
  background: $background-2;
  padding: 1rem;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: $header-height;
  h1 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.2rem;
    @media screen and (max-width: 480px) {
      display: none;
    }
  }
}